<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Загрузка данных с сервера</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
<h1>Загрузка данных с сервера</h1>

<div class="container">
    <button id="loadDataBtn" class="load-button">Загрузить данные</button>

    <div class="data-header">
        <div class="data-item">ID</div>
        <div class="data-item">Имя пользователя</div>
        <div class="data-item">Комментарий</div>
    </div>

    <div id="dataContainer" style="width: 100%;"></div>
</div>

<script src="../loadData.js"></script>
</body>
</html>
